<div class="csp body_box">
    <div class="animation">
        <div class="roll_one">
            <!--s1-->
            <div style="{{animation_time.s1_big}}" class="s1_top_big"></div>
            <div style="{{animation_time.s1_small}}" class="s1_top_small"></div>
            <div style="{{animation_time.s1_small}}" class="s1_bottom_small"></div>
            <div style="{{animation_time.s1_big}}" class="s1_bottom_big"></div>
            <div class="s1_rotate_ding"></div>
            <div class="s1_fugai"></div>
            <div class="s1_yuanzhu"></div>
        </div>
        <div class="roll_two">
            <!--s2-->
            <div style="{{animation_time.s2_big}}" class="s2_top_big"></div>
            <div style="{{animation_time.s2_small}}" class="s2_top_small"></div>
            <div style="{{animation_time.s2_small}}" class="s2_bottom_small"></div>
            <div style="{{animation_time.s2_big}}" class="s2_bottom_big"></div>
            <div class="s2_rotate_ding"></div>
            <div class="s2_fugai"></div>
        </div>
        <div class="roll_three">
            <!--s3-->
            <div style="{{animation_time.s3_big}}" class="s3_top_big"></div>
            <div style="{{animation_time.s3_small}}" class="s3_top_small"></div>
            <div style="{{animation_time.s3_small}}" class="s3_bottom_small"></div>
            <div style="{{animation_time.s3_big}}" class="s3_bottom_big"></div>
            <div class="s3_rotate_ding"></div>
            <div class="s3_fugai"></div>
        </div>
        <div class="roll_four">
            <!--s4-->
            <div style="{{animation_time.s4_big}}" class="s4_top_big"></div>
            <div style="{{animation_time.s4_small}}" class="s4_top_small"></div>
            <div style="{{animation_time.s4_small}}" class="s4_bottom_small"></div>
            <div style="{{animation_time.s4_big}}" class="s4_bottom_big"></div>
            <div class="s4_rotate_ding"></div>
            <div class="s4_fugai"></div>
        </div>
        <div class="roll_five">
            <!--s5-->
            <div style="{{animation_time.s5_big}}" class="s5_top_big"></div>
            <div style="{{animation_time.s5_small}}" class="s5_top_small"></div>
            <div style="{{animation_time.s5_small}}" class="s5_bottom_small"></div>
            <div style="{{animation_time.s5_big}}" class="s5_bottom_big"></div>
            <div class="s5_rotate_ding"></div>
            <div class="s5_fugai"></div>
        </div>
        <div class="roll_six">
            <!--s6-->
            <div style="{{animation_time.s6_big}}" class="s6_top_big"></div>
            <div style="{{animation_time.s6_small}}" class="s6_top_small"></div>
            <div style="{{animation_time.s6_small}}" class="s6_bottom_small"></div>
            <div style="{{animation_time.s6_big}}" class="s6_bottom_big"></div>
            <div class="s6_rotate_ding"></div>
            <div class="s6_fugai"></div>
        </div>
        <div class="roll_seven">
            <!--s5-->
            <div style="{{animation_time.s7_big}}" class="s7_top_big"></div>
            <div style="{{animation_time.s7_small}}" class="s7_top_small"></div>
            <div style="{{animation_time.s7_small}}" class="s7_bottom_small"></div>
            <div style="{{animation_time.s7_big}}" class="s7_bottom_big"></div>
            <div class="s7_rotate_ding"></div>
            <div class="s6_fugai"></div>
        </div>

        <div class="pos_box">
            <div class="steel"></div>
            <div class="steel_1"></div>
        </div>
    </div>
</div>
<div class="body_box">
    <div class="table_box">
        <table>
            <thead>
            <tr>
                <th>轧辊编号</th>
                <th>轧辊类型</th>
                <th>轧辊状态</th>
                <th>机架号</th>
                <th>轧辊位置</th>
                <th>配对棍号</th>
                <th>配对时间</th>
                <th>操作侧轴承箱号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in [1,2,3,4,5]">
                <td>0035</td>
                <td>工作轴</td>
                <td>上机</td>
                <td>R</td>
                <td>上</td>
                <td>0036</td>
                <td>2019-12-19 17:26:12</td>
                <td>s-318</td>
                <td>
                    <button class="plb_ch sub">修改<i class="fa fa-eyedropper"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>