<div class="login">
    <div class="login_content">
        <div class="logo_steel">

        </div>
        <div class="login_input">
            <div class="login_input_box">
                <p>
                    <i class="iconfont icon-logo-cai"></i>
                    <span>设备管理系统</span>
                </p>
                <div class="input_list">
                    <input ng-model="param.userName"
                           type="text"
                           class="username" placeholder="用户账户">
                    <input ng-model="param.passWord"
                           type="password"
                           class="password" placeholder="用户密码">
                    <button ng-click="goLogin()" class="login_btn">登录</button>
                </div>
                <div class="company_info iconfont">
                    <i class="iconfont icon-bkgy-bai"></i>
                    北京科技大学工程设计研究院
                </div>
            </div>

        </div>
    </div>
    <!--<div class="footer">
        <span></span>
        <p>版权所有：北京科技大学工程技术研究院</p>
        <p>电话：010-62332598 传真：010-62332947 通讯地址：北京市海淀区学院路30号，100083</p>
        <p>电子信箱：bkdgyy@ustb.edu.cn</p>
    </div>-->
</div>