 <div class="monitor oilManage">
    <div class="header_box">
        <div class="group_box">
				<div class="form_group">
                	<label for="">润滑油牌号</label>
                	<input type="text" ng-model="params.queryOilObj.brand">
            	</div>
				<div class="form_group">
                	<label for="">供应商</label>
                	<input type="text" ng-model="params.queryOilObj.supplycompany">
            	</div>
        </div>
        <div class="query_box">
            <button ng-click="queryByCondition()" class="btn querybtn">查询</button>
            <button ng-click="addOil()" class="btn querybtn_all">添加</button>
            <button ng-click="reset()" class="btn querybtn_all">重置</button>
        </div>

    </div>
    <div class="body_box">
        <div class="table_box">
            <table>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>牌号</th>
                    <th>外观</th>
                    <th>酸值</th>
                    <th>闪点</th>
                    <th>燃点</th>
                    <th>凝点</th>
                    <th>密度</th>
                    <th>粘度</th>
                    <th>供应商</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in oilList">
                    <td>{{$index+1}}</td>
					<td>{{item.brand}}</td>
					<td>{{item.appear}}</td>
					<td>{{item.acid}}</td>
					<td>{{item.flashpoint}}</td>
					<td>{{item.burnpoint}}</td>
					<td>{{item.condenpoint}}</td>
					<td>{{item.density}}</td>
					<td>{{item.viscosity}}</td>
					<td>{{item.supplycompany}}</td>
                    <td>
                        <button ng-click="deleteOil(item.indocno)" class="plb_ch del">删除<i class="fa fa-trash-o"></i></button>
                        <button ng-click="modOil(item.indocno)" class="plb_ch sub">修改<i class="fa fa-eyedropper"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>
</div>
<script  type="text/ng-template" id="deleteOil">
    <div class="public_sure_cancel_cont">
        <div class="tip">确定删除吗?</div>
        <div class="btn_container">
            <button class="btn_cancel" ng-click="cancel()">取消</button>
            <button class="btn_sure" ng-click="sure()">确定</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="addOil">
    <div class="public_sure_cancel_cont adduser">
        <div class="tip">添加油品管理</div>
        <div class="bullet_box">
        	<div class="form_group_oil">
                <label>牌号</label>
                <input ng-model="params.addOilObj.brand" type="text" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>外观</label>
                <input ng-model="params.addOilObj.appear" type="text" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>酸值</label>
                <input ng-model="params.addOilObj.acid" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>闪点</label>
                <input ng-model="params.addOilObj.flashpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>燃点</label>
                <input ng-model="params.addOilObj.burnpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>凝点</label>
                <input ng-model="params.addOilObj.condenpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>密度</label>
                <input ng-model="params.addOilObj.density" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>粘度</label>
                <input ng-model="params.addOilObj.viscosity" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>供应商</label>
                <input ng-model="params.addOilObj.supplycompany" type="text" class="pbin">
            </div>
        </div>
        <div class="btn_container">
            <button class="btn_cancel" ng-click="cancel()">取消</button>
            <button class="btn_sure" ng-click="sure()">确定</button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modOil">
    <div class="public_sure_cancel_cont adduser">
        <div class="tip">修改油品管理</div>
        <div class="bullet_box">
        	<div class="form_group_oil">
                <label>牌号</label>
                <input ng-model="params.addOilObj.brand" type="text" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>外观</label>
                <input ng-model="params.addOilObj.appear" type="text" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>酸值</label>
                <input ng-model="params.addOilObj.acid" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>闪点</label>
                <input ng-model="params.addOilObj.flashpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>燃点</label>
                <input ng-model="params.addOilObj.burnpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>凝点</label>
                <input ng-model="params.addOilObj.condenpoint" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>密度</label>
                <input ng-model="params.addOilObj.density" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>粘度</label>
                <input ng-model="params.addOilObj.viscosity" type="number" class="pbin">
            </div>
        	<div class="form_group_oil">
                <label>供应商</label>
                <input ng-model="params.addOilObj.supplycompany" type="text" class="pbin">
            </div>
        </div>
        <div class="btn_container">
            <button class="btn_cancel" ng-click="cancel()">取消</button>
            <button class="btn_sure" ng-click="sure()">确定</button>
        </div>
    </div>
</script>